


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/* ============== NAVBAR ============*/

#navbar {
    display: flex; 
    border-bottom: 1px solid gray; 
    padding: 1.12em 20.25em; 
    justify-content:space-between;
    background-color: white;
    height: 2.7em;
    position: sticky;
    top: 0;
}

div#navbar-left img {
    width: 8.875em;
}

#navbar-right {
    display: flex; 
    align-items: center; 
    padding-right: 80px;
}

#navbar-right p {
    margin-right: 2.8em;
    font-size: 0.8em;
    font-weight: 500;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 9px 1.25em;
    height: 3em;
    width: 8.3em;
    border: 2px solid black;
    font-size: 0.75em;
    font-weight: 500;
}


/* ============== HOME ===============*/

/* -------- INTRODUCCION -------- */

#introduccion {
    margin: 75px 35%;
}

#introduccion-texto {
    font-size: 0.85em;
    text-align: center;
    line-height: 2.5em;
}

#introduccion-botones {
    display: flex;
    justify-content: center;
}

.botones {
    margin: 20px 1em;
    height: 3.3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* -------- IMPACTO -------- */

#impacto-back {
    background-color: black;
    height: 25em;
    display: flex;
    justify-content: center;
}

#impacto-contenido {
    display: flex;
    width: 42%;
    justify-content: space-between;
    align-items: center;
}

#impacto-left {
    width: 48%;
}

#impacto-right {
    width: 42%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#impacto-right h1 {
    margin: 0;
    font-size: 3em;
}

#impacto-right p {
    color: gray;
    margin: 0.5em 0;
    font-size: 0.9em;
}

/* ============= PROGRAMAS Y CAPACITACIOKNES ============= */

.programas-cont {
    display: flex;
    width: 65%;
    margin: 3em 17%;
    justify-content: space-between;

}

.programas-left {
    width: 48%;
}

.programas-right {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programas-img1 {
    border-radius: 0 40px 40px 40px;
    width: 100%;
}

.programas-img2 {
    border-radius: 40px 40px 0 40px;
    width: 100%;
}

.right-contenido {
    width: 80%;
    margin-top: 6em;
}

.programas-boton {
    margin: 0.5em 0;
    height: 3.5em;
    width: 9.5em;
}

.programas-titulos {
    font-size: 1.3em;
}

.programas-textos {
    font-size: 0.85em;
    line-height: 1.5em;
}

/* ============= EQUIPO ============= */

.equipo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2.5em 0;
}

.equipo-integrante{
    background-color: white; 
    width: 14em; 
    height: 18em; 
    border-radius: 15px 15px 15px 0;
}

.integrante-img {
    width: 100%; 
    border-radius: 15px 15px 0 0;
}

.integrante-texto {
    text-align: center; 
    line-height: 0.5em; 
    margin: 2em 0;
}

.integrante-texto h2 {
    font-size: 1.1em;
}

.integrante-texto p {
    color: darkgrey; 
    font-size: 0.9em;
}

/* ============= CONTACTO ============= */

/* -------- TEXTOS -------- */

#cont-textos {
    margin: 60px 320px;
}

#cont-textos #ruta {
    color: gray;
    font-size: 14px;
}

#cont-textos #contactanos {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

#cont-textos #texto {
    width: 50%;
    font-size: 14px;
    line-height: 1.5;
}

/* -------- FORMULARIO -------- */

#contact-form form{
    margin: 60px 320px;
}

#datos-personales {
    display: flex;
    justify-content: space-between;
}

#datos-personales input, select {
    width: 29%;
    padding: 15px;
}

div textarea {
    width: 1170px;
    padding: 15px;
    margin: 25px 0;
}

#cont-enviar {
    display: flex;
    justify-content: end;
}

/* ---------------------------------*/

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
